@import url(./__img/places__img.css);
@import url(./__link/places__link.css);
@import url(./__list/places__list.css);
@import url(./__paragraph/places__paragraph.css);
@import url(./__paragraphs/places__paragraphs.css);
@import url(./__place/places__place.css);
@import url(./__title/places__title.css);
@import url(./__url-heading/places__url-heading.css);
@import url(./__website/places_website.css);


.places {
    padding: 101px 100px 92px;
    box-sizing: border-box;
    margin: 0px;
  }
  
  @media screen and (max-width: 1024px) {
    .places  {
      padding: 92px 48px 92px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .places{
      padding: 88px 24px 88px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .places{
      padding: 64px 16px 64px;
    }
  } /*extra*/
  
  @media screen and (max-width: 320px) {
    .places {
      
    }
  }