.page__content {
    font-family: "Inter", "Arial", sans-serif;
    max-width: 1280px;
    min-width: 320px;
    padding: 0 48px 0; 
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 1024px) {
    .page__content {
      padding-right: 0;
      padding-left: 0;
    }
  }

  /*"Спасибо за ревью, Ольга. Замылились уже глаза, не вижу глупые ошибки. Все медиа запросы не могу удалить на 1024px padding-right/left; должен остаться, иначе полетит верстка" */