
.lead__subtitle {
    max-width: 640px;
    margin: 0 auto 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
    color: #FFFFFF;
    justify-self: center;
  }
  
  @media screen and (max-width: 1024px) {
    .lead__subtitle {
      margin-bottom: 56px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .lead__subtitle {
      padding: 0 64px 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    .lead__subtitle {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 40px;
      padding: 0 16px 0;
    }
  } /* extra */
  
  @media screen and (max-width: 320px) {
    .lead__subtitle {
    }
  }