@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/header/header.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/places/places.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/footer/footer.css);

.page {
  font-family: "Inter";
  min-width: 320px;
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  background: #2A2C2F;
}

.page__content {
  font-family: "Inter";
  max-width: 1280px;
  min-width: 320px;
  padding: 0 48px 0; 
 /* padding: 0 48px 0;*/
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .page__content {
    padding: 0 0px 0;
  }
}

@media screen and (max-width: 768px) {
  .page__content {
    padding: 0 0px 0;
  }
}

@media screen and (max-width: 320px) {
  .page__content {
    padding: 0 0px 0;
  }
}
